{
   "id": "ajej6kkqt6pqr2rq0br3",
   "service_account_id": "aje0msl51fnheuj8h28n",
   "created_at": "2022-12-13T17:12:24.963589995Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9 ... w0\nBwIDAQAB\n-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQ ... n6dxaJWPgpOwaAMQGgJ80rJM=\n-----END PRIVATE KEY-----\n"
}
