{
    "all": {
        "children": ["appserver", "dbserver"]
    },
    "app": {
        "children": ["appserver"]
    },
    "db": {
        "children": ["appserver"]
    },
    "appserver": ["<IP адрес>"],
    "dbserver": ["<IP адрес>"]
}
